body {text-align: center;
	  font-family: sans-serif;
	  padding: 0.5em;}

header {border-bottom: 1px solid black;
		width: 80%;
		margin: 0 auto;}

h2 {letter-spacing: 0.1em;
	  font-family:"Courier New", Courier, monospace;}	
	  																
h3 {letter-spacing: 0.3em;
  font-family:"Courier New", Courier, monospace;}